[Desktop Entry]
Name=TeXmacs
Comment=TeXmacs text editor
Comment[pl]=Edytor tekstu TeXmacs
TryExec=texmacs
Exec=texmacs
Icon=TeXmacs
Terminal=false
Type=Application
Categories=TextEditor;
# vi: encoding=utf-8
