[Desktop Entry]
Name=TeXmacs
Comment=TeXmacs text editor
Comment[pl]=Edytor tekstu TeXmacs
TryExec=texmacs
Exec=texmacs
Icon=texmacs.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TextEditor;
# vi: encoding=utf-8
